
body {
  font-family: arial;
  font-size: 12pt;
  color: #00004d;
}
ln{
  padding: 0px;
  display: block;
}
.important {
  font-size: 25pt;
  font-weight: bold;
}
#pokerTimer {
  margin-top:0px;
}
#pokerHeader {
  background-color: #e6e6ff;
  width: 80%;
  height: 100px;
  margin: auto;
  padding: 10px;
}
#sessionDetails {
  background-color:#9999ff;
  width: 50%;
  height: 100px;
  float: left;
}
#pokerTimerWrapper {
  background-color:#b3b3ff;
  margin-left: 15%;
  height: 100px;
}
#pokerBody {
  background-color:#ccccff;
  width: 80%;
  height: 385px;
  margin: auto;
  padding: 10px;
}
#selectedCard {
  background-color:#b3b3ff;
  width: 25%;
  height: 100%;
  float: left;
}
#pokerCards {
  background-color:#9999ff;
  margin-left: 15%;
  height: 100%;
  overflow:scroll;
}
.pokerCardButtons {
  display: inline-grid;
	left: 10px;
	width:95px;
	height:100px;
	line-height:30px;
	text-align:center;
	margin-left:10px;
	margin-top: 10px;
	/* background:red; */
}
